/* signup form */
.ui.segment:last-child,
.ui.segment:first-child {
  margin: 30vh auto;
}
.App .segment {
  width: 60%;
  margin: auto auto;
  font-size: 14px;
}
.App .ui.placeholder.segment {
  max-width: 700px;
}
.middle-aligned-column div {
  max-width: 15rem;
  text-align: center;
  margin: 5px auto;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: baseline;
}
.ui.big.button {
  font-size: 14px;
  font-family: Roboto;
}
.ui.primary.button {
  font-size: 14px;
  font-family: Roboto;
}

@media only screen and (max-width: 767px) {
  .vertical.divider {
    display: none;
  }
}
.google-btn {
  width: 80%;
  margin: 5px auto;
  min-width: 184px;
  max-width: 184px;
  height: 42px;
  background-color: #fcfcfc;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  cursor: hand;
  align-self: center;
  user-select: none;
  transition: all 400ms ease 0s;
  display: flex;
}
.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  user-select: none;
}
.google-btn .google-icon-svg {
  position: absolute;
  margin-top: 7px;
  margin-left: 7px;
  width: 25px;
  height: 25px;
  user-select: none;
}
.google-btn .btn-text {
  float: right;
  margin: 11px 10px 20px 40px;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: Roboto;
  user-select: none;
}
.google-btn:hover {
  box-shadow: 0 3px 8px rgba(117, 117, 117, 0.5);
  user-select: none;
}
.google-btn:active {
  box-shadow: 0 1px 1px #757575;
  background: #f8f8f8;
  color: #fff;
  user-select: none;
}
.ui.big.button {
  width: 80%;
  margin: 5px auto;
  min-width: 184px;
  max-width: 184px !important;
  height: 42px;
  background-color: #fcfcfc;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  cursor: hand;
  align-self: center;
  -webkit-user-select: none;
  user-select: none;
  transition: all 400ms ease 0s;
  display: flex;
}
