html {
  font-family: sans-serif;
}
/* resets */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}
